/* top section */
.topsection {
    height:500px;
    width:100%;
    margin:auto;
    border:2px solid black;
}

/* new collection section */

.new{
    height:150px;
    width:100%;
    margin:auto;
    border:0px solid black;
    
}

.new>h1{
    text-align:left;
    font-size:xx-large;
    padding-left:200px;
    font-style:oblique;
}
.new>p{
    text-align:left;
    padding-left:200px;
    font-weight:400;
    font-style:oblique;
}


/* image slider */

#main-slider-container{
    width:100%;
    height:300px;
    margin-top:100px;
    margin:auto;
    
}

#slider{
    
     white-space:nowrap; 
    width:100%;
    height:100%;
     overflow-x:scroll;
     scrollbar-width:none;
    scroll-behavior:smooth; 

}

#main-slider-container{
    position:relative;
    display:flex;
    align-items:center;
    border:0px solid black;
    width:85%;
    margin-left:10px;
    margin-right:5px;
    margin:auto;
    margin-bottom:40px;

}
.slide-icon.left,.slider-icon.right{
    color:black;
    border:100%;
    position:relative;
    margin-right:10px;
}



.slider-icon.left{
    left:0;
}

.slider-icon.right{
    right:0;
}

.slider-card{
    width:289px;
    height:200px;
margin-right:10px;
margin-left:10px;
    display:-webkit-inline-box;
    border:0px solid black;
    display:inline-block;
    margin-right:5px;
    margin-right:5px;
    /* background-color:#F5F5F5;
     */
    
}
.slide-img{
    width:70%;
    padding-left:17px;
    
}
.slider-card>img{
    width:90%;
    
}

/* #main-slider-container{
    position:relative;
    display:flex;
    align-items:center;
} */

#slider::-webkit-scrollbar{
    display:none;
}

/* BESSELLERS */

.bessellers{
    height:150px;
    width:100%;
    margin:auto;
    border:0px solid black;
    
}

.bessellers>h1{
    text-align:left;
    font-size:xx-large;
    padding-left:200px;
    font-style:oblique;
}
.bessellers>p{
    text-align:left;
    padding-left:200px;
    font-weight:400;
    font-style:oblique;
}

/* grid */

.grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    margin:auto;
    border:0px solid black;
    width:78%;
    margin-left:180px;
    
    
}

.grid>div{
    border:0px solid black;


}

.grid>div>img{
    width:90%;
}

.grid>div>img:hover{
    transform:scale(1.2);
    z-index:1;

}
/* gifts */

.gifts{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    margin:auto;
    background-color:black;
    margin-top:50px;


}
.gifts>div{
    border:2px solid black;
}
.gifts>div>img{
    width:100%;
}
.gifts>div>h1{
    color:white;
    font-weight:500;
    font-style:italic;
    padding-top:100px;
}
.gifts>div>h5{
    color:white;
    font-weight:100;
    font-style:italic;

}
/* top section */
.topsection{
    height:750px;
    width:100%;
    margin:auto;
    border:0px solid black;

}
.topsection>img{
    width:100%;
}
/* categories */
.categoriez{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    margin:auto;
    background-color:white;
    border:0px solid black;
    margin-bottom: 80px;

}
.categories>div{
    border:0px solid black;

}

.categoriez>div h3{
    font-weight: 500;
    text-align:left;
    padding-left:100px;
}

.categoriez>div h1{
    font-weight: bold;
    font-size:x-large;
    font-style: italic;
    text-align:left;
    padding-left:100px;
}

.categoriez>div h3:hover{
    text-decoration: underline ;

}

.categoriez>div p{
    text-align:left;
    padding-left:100px;
    font-style:italic;
    font-size:small;

}
.categoriez>div button{
    margin-right:440px;
    margin-top:100px;
}

.categoriez>div button{
background-color:black;
    padding:10px 15px 10px 15px;
    color:white;
}

.categoriez>div button:hover{
    background-color:#D7B14A;
    padding:10px 15px 10px 15px;
    color:black;
}



/* about */
.about{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    margin:auto;
    background-color:white;
    border:0px solid black; 
    margin-top:100px;
}
.about>div h1{
    text-align:center;
    font-size: x-large;
    font-weight: 500;
    padding-left:100px;
    font-style: oblique;
}
.about>div p{
    text-align:center;
    font-weight: 300;
    padding-left:100px;
    font-style:oblique;
}
.about>div img{
    width:80%;
    margin-left:100px;
}





/* MEETING */
.meeting{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    margin:auto;
    background-color:white;
    border:0px solid black; 
    margin-top:100px;
}

.meeting>div img{
    width:80%;
    margin-left:80px;
}
.meeting>div h1{
    text-align:center;
    font-size: x-large;
    font-weight: 500;
    font-style: oblique;
}

.meeting>div p{
    text-align:center;
    font-weight: 300;
    font-style: oblique;
}
.meeting>div button{
    background-color:black;
    padding:10px 15px 10px 15px;
    color:white;
}

.meeting>div button:hover{
    background-color:#D7B14A;
    padding:10px 15px 10px 15px;
    color:black;

}


/* media query */
/* top banner section */
     @media all and (min-width:451px) and (max-width:750px) {
    .topsection{
       height:300px;
    }
}

@media all and (min-width:150px) and (max-width:470px) {
    .topsection{
        height:200px;
        
     }
     
    }
/* new collection section */

     @media all and (min-width:451px) and (max-width:750px) {
    .new{
       flex-direction: column;
    }
    .new>h1{
        flex-direction: column;
    
    }
    
    
}

@media all and (min-width:150px) and (max-width:470px) {
    .new{
        flex-direction:column;
        
     }
     .new>h1{

        text-align:center;
     }
     .new>p{
        text-align:center;
     }
    }
    /* bessellers */
    @media all and (min-width:451px) and (max-width:750px) {
    .bessellers{
       flex-direction: column;
    }
    .bessellers>h1,p{
        text-align:left;
    }
}

@media all and (min-width:150px) and (max-width:470px) {
    .bessellers{
       flex-direction: column;
    }
    .bessellers>h1,p{
        text-align:left;
    }
     
    }

    /* grid */
     @media all and (min-width:451px) and (max-width:750px) {
    .grid{
       grid-template-columns: repeat(2,1fr);
    }
    
}

@media all and (min-width:150px) and (max-width:470px) {
    .grid{
    grid-template-columns: repeat(1,1fr);
    }
     
    }
    /* gifts */
    @media all and (min-width:451px) and (max-width:750px) {
    .gifts{
       grid-template-columns: repeat(2,1fr);
       text-align:center;
    }
    .gifts>div h1,h5{
        text-align:center;
    }
    .gifts>div img{
        width:100%;
    }
    
}

@media all and (min-width:150px) and (max-width:470px) {
    .gifts{
    grid-template-columns: repeat(1,1fr);
    text-align:center;
    }
     .gifts>div h1,h5{
        text-align:center;
     }
    }